<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="EAMS"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EAMS"
        tools:targetApi="31" >
        <activity
            android:name=".AttendeeEvents"
            android:exported="false" />
        <activity
            android:name=".Search"
            android:exported="true" />
        <activity
            android:name=".EventList"
            android:exported="true" />
        <activitya
            android:name=".EventsList"
            android:exported="true" />
        <activity
            android:name=".SignUpEventActivity"
            android:exported="true" />
        <activity
            android:name=".AttendeeList"
            android:exported="true" />
        <activity
            android:name=".ViewEventActivity"
            android:exported="true" />
        <activity
            android:name=".OrganizerPage"
            android:exported="true" />
        <activity
            android:name=".OganizerPage"
            android:exported="true" />
        <activity
            android:name=".AttendeePage"
            android:exported="true" />
        <activity
            android:name=".PendingActivity"
            android:exported="true" />
        <activity
            android:name=".RejectedActivity"
            android:exported="true" />
        <activity
            android:name=".User_status_dialog"
            android:exported="true"
            android:label="@string/title_activity_user_status_dialog"
            android:theme="@style/Theme.EAMS" />
        <activity
            android:name=".AdminHome"
            android:exported="true" />
        <activity
            android:name=".ActivityWelcome"
            android:exported="true" />
        <activity
            android:name=".Registerpage"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InboxActivity" />
        <activity android:name=".RejectedRequests" />
        <activity
            android:name=".CreateEventActivity"
            android:exported="true" />
    </application>

</manifest>